<!DOCTYPE html>
<html>
<head>
  <title>Contact</title>
</head>
<body>
  <h1>Send me a message. I would love to head from you.</h1>
  <form action="" method="POST">
    <div class="row form-group col-xs-12">
      <label>Name</label>
      <input type="text" class="form-control" placeholder="Name" id="name" name="name">
    </div>
    <div class="row form-group col-xs-12">
      <label>Email</label>
      <input type="email" class="form-control" placeholder="Email" id="email" name="email">
    </div>
    <div class="row form-group col-xs-12">
    <label>Message</label>
      <textarea rows="5" class="form-control" placeholder="Message" id="message" name="message"></textarea>
    </div>
    <div class="row form-group">
      <div class="form-group col-xs-12">
        <button type="submit" class="btn btn-success">Send</button>
      </div>
    </div>
  </form>
</body>
</html>